@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --action-hover-color: #2195f3ab;
  --item-text-color: #757575;
  --fons-background-color: #2F303A;
  --adres-text-color: #FFF;
  --hero-text-color:#FFF;
  --team-background-color: #F5F4FA;
  --border-backgraund-color: #EEE;
  --border-client-color: #AFB1B8;
  --backdrop-fons-color:rgba(0, 0, 0, 0.2);
  --label--text-color: #757575;
  --link-text-color: #2196F3;
  --team-social-color: #AFB1B8;
  --social-hover-color:#FFF;
  --footer-social-color:#FFF;
  --button-text-color: #ffffff;
  --button-fons-color: #2196F3;
  --button-hover-color: #188CE8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: var(--primary-text-color);
}

ul li {
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-fons-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button {
  min-width: 200px;
  height: 50px;
  color: var(--button-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.96px;
  background-color: var(--button-fons-color);
  cursor: pointer;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: var(--button-hover-color);
  transition-property: var(--button-hover-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background: var(--button-hover-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:focus {
  background: var(--button-hover-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-close__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #FFF;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-color: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition-property: var(--action-hover-color);
  transition-property: var(--action-hover-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close__btn:hover {
  fill: var(--action-hover-color);
}

.filter-portfolio__button {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: var(--team-background-color);
  -webkit-transition-property: var(--adres-text-color), var(--link-text-color);
  transition-property: var(--adres-text-color), var(--link-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-portfolio__button:hover, .filter-portfolio__button:focus {
  color: var(--adres-text-color);
  background-color: var(--link-text-color);
  /* transition: all .2s linear; */
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal__title {
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.form {
  display: block;
}
.form__input-wrap {
  position: relative;
  margin-bottom: 10px;
}
.form__label {
  color: var(--label--text-color);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover {
  fill: #2196F3;
  border-radius: 4px;
  border: 1px solid var(--action-hover-color);
}
.form__input:focus {
  fill: var(--action-hover-color);
  border-radius: 4px;
  border: 1px solid var(--action-hover-color);
}
.form__input:hover + .form__icon {
  fill: var(--action-hover-color);
}
.form__input:focus + .form__icon {
  fill: var(--action-hover-color);
}
.form__icon {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 12px;
  top: 16px;
  pointer-events: none;
  -webkit-transition-property: var(--action-hover-color);
  transition-property: var(--action-hover-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 448px;
  height: 120px;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  margin-top: 4px;
  cursor: pointer;
  -webkit-transition-property: var(--action-hover-color);
  transition-property: var(--action-hover-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:hover {
  border-radius: 4px;
  border: 1px solid var(--action-hover-color);
}
.form__textarea:focus {
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--action-hover-color);
}
.form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-checkbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 7px;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.form-checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}
.form-checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-checkbox__input:checked + .form-checkbox__check {
  border: none;
  background-image: url(../img/icons/on.svg.svg);
}
.form-checkbox__check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.form-checkbox__policy {
  color: #2196F3;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}
.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--team-social-color);
  -webkit-transition-property: color, var(--link-text-color);
  transition-property: color, var(--link-text-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  background-color: var(--link-text-color);
  color: var(--social-hover-color);
}
.social__link:focus {
  background-color: var(--link-text-color);
  color: var(--social-hover-color);
}
.social__link_footer {
  background-color: #3a3b47;
  color: #ffffff;
}
.social__icon {
  fill: currentColor;
}

.client__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.list-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-client__link {
  fill: var(--border-client-color);
  border-radius: 4px;
  border: 1px solid var(--border-client-color);
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: var(--action-hover-color);
  transition-property: var(--action-hover-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-client__link:hover, .list-client__link:focus {
  fill: var(--action-hover-color);
  border-color: var(--action-hover-color);
}

.features {
  padding-bottom: 0px;
}
.list-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .list-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.list-features__item {
  width: 100%;
}
@media (min-width: 768px) {
  .list-features__item {
    max-width: 354px;
  }
}
@media (min-width: 1200px) {
  .list-features__item {
    max-width: 270px;
  }
}
.list-features__box {
  padding: 25px 0;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
}
.list-features__title {
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  margin-bottom: 10px;
}
.list-features__text {
  font-size: 14px;
  color: var(--item-text-color);
  line-height: 171.429%;
  /* 24px */
  letter-spacing: 0.42px;
}

.footer {
  background: var(--fons-background-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer__address {
  color: var(--adres-text-color);
  line-height: 171.429%;
  /*24px */
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 9px;
}
.footer__logo {
  color: var(--link-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
  padding-bottom: 20px;
}
.footer__logo span {
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__address-box {
  margin-right: 70px;
}
.footer__title-social {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-top: 10px;
}
.footer__newsletter {
  gap: 12px;
  margin-left: 93px;
}
.footer__newsletter-title {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-top: 10px;
}
.footer__email-input {
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 10px;
  -webkit-transition-property: var(--action-hover-color);
  transition-property: var(--action-hover-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email-input:hover, .footer__email-input:focus {
  border: 1px solid rgb(255, 255, 255);
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-footer__iteam {
  padding-bottom: 9px;
}
.contact-footer__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 171.429%;
  /* 24px */
  letter-spacing: 0.42px;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 9px;
}
.contact-footer__link:hover, .contact-footer__link:focus {
  color: var(--link-text-color);
}

.header {
  width: 100%;
  border-bottom: 1px solid var(--border-backgraund-color);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.78px;
  font-family: Raleway;
  color: var(--primary-text-color);
}
.header__logo span {
  color: var(--link-text-color);
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.nav__link {
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--link-text-color);
}
.nav__link_active {
  color: var(--link-text-color);
  position: relative;
}
.nav__link_active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--link-text-color);
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
}
.nav__iteam {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 10px;
}
@media (max-width: 768px) {
  .contacts-header {
    display: none;
  }
}
.contacts-header__link {
  color: var(--item-text-color);
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--item-text-color);
}
.contacts-header__link:hover, .contacts-header__link:focus {
  color: var(--link-text-color);
  fill: var(--link-text-color);
}
.contacts-header__icon {
  margin-right: 10px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover {
  fill: var(--button-hover-color);
}

.menu-container {
  overflow: auto;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: 40px;
  background-color: white;
  z-index: 50;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 0px;
  right: 15px;
  color: #fff;
}

@media (min-width: 768px) {
  #mobile-menu {
    display: none;
  }
}

.burger__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  font-size: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.burger__nav-iteam {
  margin-bottom: 30px;
}
.burger__nav-link {
  color: var(--primary-text-color);
}
.burger__nav-link:hover {
  color: var(--link-text-color);
}

.burger__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.burger__contacts :last-child {
  margin-bottom: 64px;
}
.burger__contacts-link {
  font-size: 24px;
  color: var(--label--text-color);
}
.burger__contacts-link--big {
  font-size: 34px;
  color: var(--link-text-color);
}

.burger__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 15px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
}
.burger__social-link {
  color: var(--link-text-color);
}
.burger__social-link:hover {
  text-decoration: underline;
}

.line {
  color: rgba(33, 33, 33, 0.2);
}

.lock {
  overflow: hidden;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Hero-img-468.jpg) no-repeat;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero-img-468.jpg) no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Hero-img-468-2x.jpg) no-repeat;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero-img-468-2x.jpg) no-repeat;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Hero-img-768.jpg) no-repeat;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero-img-768.jpg) no-repeat;
    background-size: cover;
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Hero-img-768-2x.jpg) no-repeat;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero-img-768-2x.jpg) no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Hero-img-1200.jpg) no-repeat;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero-img-1200.jpg) no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Hero-img-1200-2x.jpg) no-repeat;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Hero-img-1200-2x.jpg) no-repeat;
    background-size: cover;
  }
}
.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (min-width: 768px) {
  .hero__container {
    gap: 30px;
    padding-top: 200px;
    padding-bottom: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__title {
  color: var(--hero-text-color);
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 360px;
}
@media (min-width: 768px) {
  .hero__title {
    max-width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 136.364%;
    letter-spacing: 2.64px;
  }
}

.team {
  background-color: var(--team-background-color);
}
.team__title {
  text-align: center;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 1.08px;
}
@media (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 1.08px;
  }
}
.team__social {
  margin-bottom: 30px;
}

.list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .list-team {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.list-team__card {
  border-radius: 0px 0px 4px 4px;
  background: var(--hero-text-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.list-team__name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.list-team__specialty {
  color: var(--item-text-color);
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.work__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 1.08px;
  }
}
.list-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  text-align: center;
  padding-top: 50px;
  position: relative;
}
@media (min-width: 768px) {
  .list-work {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.list-work__item {
  position: relative;
}
.list-work__title {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  font-weight: 700;
  bottom: 0;
  width: 100%;
  padding-bottom: 27px;
  padding-top: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.filter-portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}

/* ----------------------БЛОК ПРОЕКТИ------------------- */
.list-projekt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.list-projekt__iteam {
  border: 1px solid var(--border-backgraund-color);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  cursor: pointer;
  -webkit-transition-property: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition-property: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-projekt__iteam:hover, .list-projekt__iteam:active {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.list-projekt__iteam:hover .list-projekt__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.list-projekt__img {
  position: relative;
  overflow: hidden;
}
.list-projekt__overlay {
  position: absolute;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  top: 0;
  left: 0;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.54px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-projekt__name {
  font-size: 18px;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
  padding-top: 20px;
  padding-left: 24px;
}
.list-projekt__direction {
  color: var(--item-text-color);
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
  padding-left: 24px;
  padding-bottom: 20px;
}/*# sourceMappingURL=main.css.map */