// -----------ОСНОВНІ КНОПКИ--------
.button{
   min-width: 200px;
   height: 50px;
   color:var(--button-text-color);
   @include font(700,16px,30px,0.96px );
   background-color: var( --button-fons-color);
   cursor: pointer;
   padding: 10px 28px;
   @include border(none,4px);
   transition-property: var(--button-hover-color);
   @include transition( 250ms,cubic-bezier(0.4, 0, 0.2, 1));
&:hover {
   background:var(--button-hover-color);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

&:focus {
   background:var(--button-hover-color);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
}
// ------------КНОПКА ЗАКРИТТЯ МОДАЛКИ------
.modal-close__btn {
   position: absolute;
   display: flex;
   align-items: center;
   border-radius: 50%;
   background-color: #FFF;
   top: 8px;
   right: 8px;
   padding: 6px;
   border-color: rgba(0, 0, 0, 0.10);
   width: 30px;
   height: 30px;
   cursor: pointer;
   transition-property: var(--action-hover-color);
   @include transition( 250ms,cubic-bezier(0.4, 0, 0.2, 1));



   &:hover {
       fill: var(--action-hover-color);
   }
}
// ----------КНОПКИ ФІЛЬТРА------------
.filter-portfolio__button {
   color: #212121;
   text-align: center;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 26px;
   /* 162.5% */
   letter-spacing: 0.48px;
   padding: 6px 22px;
   cursor: pointer;
   @include border(none,4px);
   background: var(--team-background-color);
   transition-property: var(--adres-text-color), var(--link-text-color);
   @include transition( 250ms,cubic-bezier(0.4, 0, 0.2, 1));

   &:hover,
   &:focus {
       color: var(--adres-text-color);
       background-color: var(--link-text-color);
       /* transition: all .2s linear; */
   }
}
// ---------БУРГЕР МЕНЮ-------------

.menu-burger{
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;
   
   @media screen and (min-width:769px) {
      display: none;

   }
}

.menu-burger .icon-close{
   display: none;
}

.menu-burger.is-open .icon-close{
   display: block;
}

.menu-burger.is-open .icon-menu{
   display: none;
}


