



* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    color: var(--primary-text-color);
    
}

ul li {
    list-style: none;
    margin: 0;

}


img {
    width: 100%;
    vertical-align: top;
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 320px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;   
    padding: 0 15px;
    margin: 0 auto;

  

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

a {
    text-decoration: none;

}


