// -------------БЛОК ФІЛЬТЕР--------------------
.filter-portfolio__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 50px;

    @media (min-width:768px) {
        justify-content: center;



    }

}

/* ----------------------БЛОК ПРОЕКТИ------------------- */

.list-projekt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
 



    &__iteam {
        border: 1px solid var(--border-backgraund-color);
       
        cursor: pointer;
        transition-property: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        @include transition(250ms, cubic-bezier(0.4, 0, 0.2, 1));




        &:hover,
        &:active {
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        }

        &:hover .list-projekt__overlay {
            transform: translateY(0);
        }
    }

    &__img {
        position: relative;
        overflow: hidden;
    }

    &__overlay {
        position: absolute;
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 24px;
        padding-right: 24px;
        background: rgba(33, 150, 243, 0.90);
        transform: translateY(+100%);
        top: 0;
        left: 0;
        color: #FFF;
        @include font(400, 18px, 28px, 0.54px);
        @include transition(250ms, cubic-bezier(0.4, 0, 0.2, 1));
    }

    &__name {
        font-size: 18px;
        line-height: 36px;
        /* 200% */
        letter-spacing: 1.08px;
        padding-top: 20px;
        padding-left: 24px;


    }

    &__direction {
        color: var(--item-text-color);
        line-height: 30px;
        /* 187.5% */
        letter-spacing: 0.48px;
        padding-left: 24px;
        padding-bottom: 20px;
    }


}
