// ----------БАЗОВІ КОЛЬОРИ--------
:root {
    --primary-text-color: #212121;
    --action-hover-color: #2195f3ab;
    --item-text-color: #757575;
    --fons-background-color: #2F303A;
    --adres-text-color: #FFF;
    --hero-text-color:#FFF;
    --team-background-color: #F5F4FA;
    --border-backgraund-color: #EEE;
    --border-client-color: #AFB1B8;
    --backdrop-fons-color:rgba(0, 0, 0, 0.2);
    --label--text-color: #757575;
 
// ---Іконки соц мереж-----

--link-text-color: #2196F3;
--team-social-color: #AFB1B8;
--social-hover-color:#FFF;
--footer-social-color:#FFF;

    // ---Кнопки---
    --button-text-color: #ffffff;
    --button-fons-color: #2196F3;
    --button-hover-color: #188CE8;
}
