// ----------ГОЛОВНИЙ БЛОК РОБІТ------
.work {
    &__container {
    }
    &__title {
      text-align: center;
      @include font(700,28px,normal,1.08px);
      margin-bottom: 50px;
      @media (min-width: 1200px) 
      {
      
        @include font(700, 36px, normal, 1.08px);
    
      }
    }
    &__list {
    }
  }
  // -----------ПРИКЛАДИ РОБІТ-------
  .list-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding-top: 50px;
    position: relative;

    @media (min-width:768px) {
      flex-wrap: nowrap;
    }

    &__item {
      position: relative;
    }
    &__title {
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      position: absolute;
      font-weight: 700;
      bottom: 0;
      width: 100%;
      padding-bottom: 27px;
      padding-top: 27px;
      background: rgba(47, 48, 58, 0.8);
     
    }
  }